
body{
    font-family: 'Quicksand', sans-serif;
}


.container{
    width: 60%;
}

#titulo-info-personal{
    margin-top: 40px;
}

h1,h2{
    font-weight: bold;
}

.form-label{
   font-weight: bold;
}

.form-control{
    background-color: #F7F7F7;
}

.container{
    margin-bottom: 50px;
}

#btn{
    height: 50px;
    font-weight: bold;
}

.parrafo{
    font-weight: bold;
}

.col-12{
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}